EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_EAS_PROJECT_ID=replace-with-your-eas-project-id
EXPO_PUBLIC_ANDROID_APPLICATION_ID=com.example.replace
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.example.replace
GOOGLE_SERVICES_FILE=./credentials/google-services.json
